body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding: 0px;
    background-color: rgb(255, 218, 170);

}

h1{
    background-color: #d2691e;
    margin-top: 0px;
    width: 100%;
}
img {
    border-radius:80%;
    aspect-ratio: auto;
}

p{
    float: right;
    margin: 0px;
    padding: 0%;
}